<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', 'aria-describedby': 'emailHelp' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions btn-group" role="group" aria-label="Actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Back", users_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
