<%= form_with(model: resource, local: true) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :bucket_name %>
        <%= f.text_field :bucket_name, class: 'form-control', 'aria-describedby': 'bucketHelp' %>
        <small class="form-text text-muted" id="bucketHelp">Amazon S3 bucket name.</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :bucket_region %><br />
        <%= f.text_field :bucket_region, class: 'form-control' %>
        <small class="form-text text-muted" id="bucketHelp">S3 bucket region; for example: 'us-east-1'</small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :album_path %>
    <%= f.text_field :album_path, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :team %>
    <%= f.select :team_id, options_for_select(@teams.map{ |t| [t.name, t.id] }, f.object.team_id || 0), { include_blank: true }, class: 'form-control', 'aria-describedby': 'teamHelp' %>
    <small class="form-text text-muted">Choose which team has access to this resource.</small>
  </div>

  <div class="actions btn-group" role="group" aria-label="Actions">
    <%= f.submit class: 'btn btn-primary' %>
    <% if resource.id %>
      <%= link_to 'Delete Resource', resource_path(resource), method: :delete, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to 'Back', resources_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
